html {

    font-size: 1rem;
    display: flex;
}

body {
    background-color: rgb(15, 34, 56);
    color: azure;
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    scroll-behavior: smooth;
}
/* change header color */
header {
    color: antiquewhite;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(6, 150, 150);
    z-index: 1000;
    box-shadow: ;
}

/* personal */

.personal {
    font-family: serif;
    font-size: 1.5rem;

    padding: 1rem;
}

.personal h2 {
    text-decoration: underline;
    text-decoration-thickness: 1px; 
    text-underline-offset: 3px;

}

/* intro */

.intro {
    margin: 4rem 1rem;
    display: flex;
    justify-content: flex;

}